{% set selected_title = labels.empty %}
{% if selected is not empty %}
    {% for item in items %}       
        {% if (item.interval == selected) %}      
            {% set selected_title = item.title %}
        {% endif %}
    {% endfor %}
{% endif %}

<select 
    name="{{ field_name|default('interval') }}"
    class="select {{ class|default('select-sm') }} interval-dropdown" 
    id="interval_dropdown">
    <option 
        disabled
        class="text-gray-100" 
        {{ (selected is empty) ? 'selected' : '' }} 
        value="">             
        {{ labels.empty }}
    </option>     
    {% for item in items %}   
        {% if item.interval not in skip %}                     
        <option           
            {{ item.interval|ifthen(selected,'selected') }}
            value="{{ item.interval }}">             
            {{ item.title }}
        </option>    
        {% endif %}    
    {% endfor %}   
</select>