{% if uuid is not empty %}
    {% set job = createModel('Queue').findById(uuid) %}
{% endif %}
<div class="item" id="row_{{ job.uuid }}">
    <div class="content">                      
        <div class="flex flex-row items-center">
            <div class="flex-grow flex flex-row items-center">
                <div>
                    <i class="icon blue angle right"></i>          
                </div>
                {% if job.isRecurring() == true %} 
                    <div class="px-1">
                        <i class="redo alternate icon blue" title="{{ labels.recurring }}"></i>
                    </div>                
                    <button class="ui mini basic compact icon button edit-job" uuid="{{ job.uuid }}">
                        <i class="icon green edit"></i>
                    </button>              
                {% else %}           
                    <button 
                        class="ui mini basic compact icon button delete-job" 
                        data-title="{{ job.name }}" 
                        uuid="{{ job.uuid }}" 
                        title="{{ labels.delete }}">
                        <i class="icon orange trash"></i>
                    </button>       
                {% endif %}
                <button 
                    class="ui mini basic compact icon button delete-job" 
                    data-title="{{ job.name }}"
                    uuid="{{ job.uuid }}">
                    <i class="icon red trash"></i>
                </button>
                {% if job.isScheduled() == true %}
                    <i class="calendar alternate outline icon" title="{{ labels.scheduled }}"></i>
                {% endif %}
                <a class="link job-details font-bold px-2" uuid="{{ job.uuid }}">
                    {{ job.name }}  
                </a>                           
            </div>
            <div class="flex flex-row items-center">
                <div class="pt-2 text-gray-600 mini basic right floated">
                    <i class="icon outline calendar"></i>
                    {{ job.date_created|dateTimeFormat }}
                </div>    
                {{ component('queue::admin.queue.jobs.status.label',{ status: job.status, class: 'mini basic right floated' }) }} 
            </div>
        </div>                               
    </div>     
</div>