{% if uuid is not empty %}
    {% set job = service('queue').getJob(uuid) %}
    {% set status = job.status %}
{% endif %}
{% if status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_CREATED') %}
    {% set label = labels.created %}
{% elseif status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_PENDING') %}
    {% set label = labels.pending %}
    {% set color = 'badge-info' %}
{% elseif status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_COMPLETED') %}
    {% set label = labels.completed %}
    {% set color = 'badge-success' %}
{% elseif status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_EXECUTED') %}
    {% set label = labels.executed %}
    {% set color = 'badge-success' %}
{% elseif status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_SUSPENDED') %}
    {% set label = labels.suspended %}
    {% set color = 'badge-warning' %} 
{% elseif status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_ERROR') %}
    {% set label = labels.error %}
    {% set color = 'badge-error' %}   
{% endif %}
<div class="badge badge-sm {{ color }} {{ class }}">
    {% if icon is not empty %}
        
    {% endif %}
    {% if title is not empty %}
        <span class="p-1 font-bold">{{ title }}</span>
    {% endif %}
    {{ label }}
</div>
