<div class="flex flex-row items-center {{ theme.panel }}">     
    <div class="flex-grow">
        <div class="font-bold pt-1">{{ title }}</div>
    </div>      
    <button class="{{ theme.buttons.delete }} delete-completed">
        {{ labels.completed }}
    </button>   
</div>

<div class="mt-4 flex flex-row items-start">
    <div class="w-1/2">
        <div 
            class="{{ theme.list.default }}" 
            id="jobs_rows" 
            component="queue::admin.queue.jobs.view.items">
            {{ component('queue::admin.queue.jobs.view.items') }}
        </div>
        <div id="paginator">
             {{  component("system:admin.paginator",{ 
                    id: 'jobs_paginator',
                    namespace: 'jobs',
                    rows_selector: 'jobs_rows',
                    component:"queue::admin.queue.jobs.view.items" 
                })  
            }}             
        </div>
    </div>
    <div class="ml-4 w-1/2" id="job_details">
    </div>
</div>
