{% if uuid is not empty %}
    {% set job = createModel('Queue').findById(uuid) %}
{% endif %}
<div 
    class="flex flex-col items-start w-full" 
    id="row_{{ job.uuid }}">
    <div   
        class="flex-grow flex flex-row items-center w-full">
        <div>
            {{ component('icons~chevron.right',theme.icons.green,'svg') }}                  
        </div>                    
        {% if job.schedule_time is not empty %}
            {{ component('icons~calendar',theme.icons.green,'svg') }}            
        {% endif %}
        <div           
            class="flex-grow link job-details font-bold px-2" uuid="{{ job.uuid }}">
            {{ job.name }}  
        </div>      
        <div class="place-content-end">
            {{ component('queue::admin.queue.jobs.status.label',{ status: job.status }) }}                
        </div>            
    </div>
    <div class="mt-1 flex flex-row items-center w-full">
        {% if job.recuring_interval is not empty %}
            <div class="px-1" title="{{ labels.recurring }}">
                {{ component('icons~calendar',theme.icons.green,'svg') }}                    
            </div>      
            {{ component('queue::admin.interval.label',{ interval: job.recuring_interval }) }}                         
        {% endif %}   
        <div class="flex-grow self-end text-gray-600 mx-2 text-sm">                 
            {{ job.date_created|dateTimeFormat }}
        </div>           
    </div>                    
</div>