{{  component('system:admin.tabs',{ 
        items: [         
            { 
                title: labels.queue, 
                component: 'queue::admin.queue', 
                icon: 'tasks', 
                active: true 
            },
            { 
                title: labels.worker, 
                component: 'queue::admin.worker',               
                svg_icon: 'icons~server' 
            },              
            { 
                title: labels.jobs, 
                component: 'queue::admin.jobs', 
                svg_icon: 'icons~code'                
            },         
            { 
                title: labels.settings, 
                component: 'queue::admin.settings', 
                svg_icon: 'icons~cog'               
            }  
        ],
        content: { 
            component: 'queue::admin.queue'
        } 
    })
}}