{% if uuid is not empty %}
    {% set job = createModel('Jobs').findById(uuid) %}
{% endif %}
<div class="item" id="row_{{ job.uuid }}">
    <div class="content">                      
        <div class="header">
            <i class="icon blue angle right"></i>          
            {{ component('queue::admin.jobs.status.label',{ status: job.status, class: 'mini basic right floated' }) }}           
            {% if job.isRecurring() == true %} 
                <button class="ui mini basic compact icon button edit-job" uuid="{{ job.uuid }}">
                    <i class="icon green edit"></i>
                </button>
                <i class="redo alternate icon blue" title="{{ labels.recurring }}"></i>
            {% else %}           
                <button 
                    class="ui mini basic compact icon button delete-job" 
                    data-title="{{ job.name }}" 
                    uuid="{{ job.uuid }}" 
                    title="{{ labels.delete }}">
                    <i class="icon orange trash"></i>
                </button>       
            {% endif %}
            <button 
                class="ui mini basic compact icon button delete-job" 
                data-title="{{ job.name }}"
                uuid="{{ job.uuid }}">
                <i class="icon red trash"></i>
            </button>
            {% if job.isScheduled() == true %}
                <i class="calendar alternate outline icon" title="{{ labels.scheduled }}"></i>
            {% endif %}
            <a class="link job-details" uuid="{{ job.uuid }}">
                {{ job.name }}  
            </a>             
        </div>                  
        <span class="text-gray-600 pl-16">
            <i class="icon outline calendar"></i>
            {{ job.date_created|dateTimeFormat }}
        </span>         
    </div>     
</div>