{% if uuid is not empty %}
    {% set item = createModel('JobsRegistry').findById(uuid) %}
{% endif %}
{% set job = service('queue').create(item.name) %}
<div class="{{ theme.card.default }}" 
    id="row_{{ item.uuid }}">    
    <div class="flex flex-row items-center">
        {{ component('icons~code',theme.icons.blue,'svg') }}                   
        <h4 class="ml-2 font-bold">        
            {{ job.descriptor().getValue('title')|default(item.name) }}
        </h4>    
    </div>                                                     
    <div class="mt-4"> 
        <p class="p-1">
            {{ job.descriptor().getValue('description') }}       
        </p>
        <div class="mt-2">
            <div class="font-bold text-sm pr-2">{{ labels.name }}</div>
            <div class="badge badge-outline badge-xs">{{ item.name }}</div>
        </div>
        {% if item.package_name is not empty %}  
            <h4 class="text-sm font-bold">
                {{ labels.package }}
            </h4>      
            <div class="badge badge-xs badge-outline">
                {{ item.package_name }}
                <div class="detail">{{ item.package_type }}</div>           
            </div>
        {% endif %}
    </div>
    <div class="mt-4">             
        <button 
            title="{{ labels.info }}"
            class="{{ theme.buttons.icon }} job-action" 
            mountTo="job_registry_details"
            component="queue::admin.jobs.details"
            params="uuid:{{ item.uuid }}">
            {{ component('icons~info',theme.icons.button,'svg') }}
        </button>  
        <button 
            title="{{ labels.push }}"
            class="{{ theme.buttons.icon }} job-action" 
            mountTo="job_registry_details"
            component="queue::admin.jobs.push"
            params="uuid:{{ item.uuid }}">
            {{ component('icons~plus',theme.icons.button,'svg') }}
        </button>  
        <button 
            title="{{ labels.queue }}"
            class="{{ theme.buttons.icon }} job-action" 
            mountTo="job_registry_details"
            component="queue::admin.jobs.queue"
            params="uuid:{{ item.uuid }}">
            {{ component('icons~list',theme.icons.button,'svg') }}
        </button>   
        {% if job.descriptor().getValue('allow.admin.config') == true %}
            <button 
                title="{{ labels.config }}"
                class="{{ theme.buttons.icon }} job-action" 
                mountTo="job_registry_details"
                component="queue::admin.jobs.config"
                params="uuid:{{ item.uuid }}">
                {{ component('icons~cog',theme.icons.button,'svg') }}
            </button>   
        {% endif %}           
    </div>
</div>