
{% set worker_name = worker_name|default('cron-queue') %}
{% set worker = service('driver').create(worker_name) %} 
{% set details = worker.getDetails() %}
<div class="p-2 w-1/2">
    <h4 class="font-bold text-lg">
        {% if worker.isRunning() == true %}    
            <i class="check olive icon" title="{{ labels.running }}"></i>                   
        {% else %}  
            <i class="exclamation triangle orange icon" title="{{ labels.disabled }}"></i>
        {% endif %}
        {{ worker.getTitle() }}
    </h4>
    <p class="mt-4">
        {{ worker.getDescription() }}
    </p>

    {% if demo_mode == true %}
        <div class="mt-4 alert alert-warning alert-sm">
            {{ labels.demo }}
        </div>
    {% else  %}
        {% if worker.isRunning() == true %}
            <button 
                class="mt-4 {{ theme.buttons.delete }}" 
                id="stop_worker" 
                worker-name="{{ worker_name }}">               
                {{ buttons.stop }}
            </button>
        {% else %}
            <button 
                class="mt-4 {{ theme.buttons.green }}" 
                id="start_worker" 
                worker-name="{{ worker_name }}">             
                {{ buttons.run }}
            </button>
        {% endif %}
    {% endif %}
</div>
<div 
    class="p-2 w-1/2 flex-grow border-l border-0 border-solid border-gray-400">
    <h4 class="pt-1 font-bold">
        {{ labels.details }}
    </h4>
    <table class="{{ theme.table.details }}">
        <tbody>
            {% for key, value in details %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ key }}</td>
                <td>
                    {% if value is iterable %}
                        <ol>
                            {% for key, item in value %}
                                <li>
                                    <div class="badge badge-sm badge-outline">
                                        {{ item }}
                                    </div>                                   
                                </li>
                            {% endfor %}
                        </ol>                       
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>      
    {% if worker_name == 'cron-queue' %}
        <div class="mt-8">
            {% if demo_mode != true %}
            <button class="{{ theme.buttons.default }}" id="run_cron_command">          
                {{ buttons.test }}
            </button>
            {% endif %}
        </div>      
        <div 
            class="mt-4" 
            id="worker_test_result">
        </div>
    {% endif %}
</div>    