
{% set worker_name = worker_name|default('cron-queue') %}
{% set worker = service('driver').create(worker_name) %} 
{% set details = worker.getDetails() %}
<div class="p-2 w-1/2">
    <h3 class="header">
        {% if worker.isRunning() == true %}    
            <i class="check olive icon" title="{{ labels.running }}"></i>                   
        {% else %}  
            <i class="exclamation triangle orange icon" title="{{ labels.disabled }}"></i>
        {% endif %}
        {{ worker.getTitle() }}
    </h3>
    <p class="mt-4 p-2">
        {{ worker.getDescription() }}
    </p>

    {% if demo_mode == true %}
        <div class="ui warning message">
            {{ labels.demo }}
        </div>
    {% else  %}
        {% if worker.isRunning() == true %}
            <button class="ui basic button" id="stop_worker" worker-name="{{ worker_name }}">
                <i class="icon orange stop"></i>
                {{ buttons.stop }}
            </button>
        {% else %}
            <button class="ui basic button" id="start_worker" worker-name="{{ worker_name }}">
                <i class="play icon olive"></i>
                {{ buttons.run }}
            </button>
        {% endif %}
    {% endif %}
</div>
<div class="p-2 w-1/2 flex-grow border-l border-0 border-solid border-gray-400">
    <h4 class="pt-1">
        <i class="icon blue info"></i>
        {{ labels.details }}
    </h4>
    <table class="ui very basic definition mini table">
        <tbody>
            {% for key, value in details %}
            <tr>
                <td class="one wide right aligned">{{ key }}</td>
                <td>
                    {% if value is iterable %}
                        <ol>
                            {% for key, item in value %}
                                <li>
                                    <div class="ui basic label">
                                        {{ item }}
                                    </div>                                   
                                </li>
                            {% endfor %}
                        </ol>                       
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>      
    {% if worker_name == 'cron-queue' %}
        <div class="mt-8">
            {% if demo_mode != true %}
            <button class="ui mini basic icon labeled button" id="run_cron_command">
                <i class="icon play"></i>
                {{ buttons.test }}
            </button>
            {% endif %}
        </div>      
        <div class="mt-4" id="worker_test_result">
        </div>
    {% endif %}
</div>    