{% set worker_name = worker|default(getOption('queue.worker.name')) %}
{% if worker_name is empty %}
    {{ component('semantic~message.warning',{ message: message }) }}        
{% else %}
    <div class="flex flex-row items-center {{ theme.panel }}">
        <div class="font-bold px-1">
            {{ labels.driver }}
        </div>
        {{  component('system:admin.drivers.dropdown',{ 
                selected: worker_name,
                category: 'queue.worker', 
                calss: 'fluid w-full' 
            }) 
        }}  
    </div>
    <div class="mt-4 {{ theme.panel }}">        
        <div class="flex flex-row items-start w-full" id="worker_status_content">
            {{ component('queue::admin.worker.status',{ worker_name: worker_name }) }}                          
        </div>             
    </div>
{% endif %}