{% if uuid is not empty %}
    {% set item = createModel('JobsRegistry').findById(uuid) %}
{% endif %}
{% set job = service('queue').create(item.name) %}
{% set properties = job.descriptor().collection('parameters') %}
{% set result = properties.setPropertyValues(item.options) %}

{% if job.descriptor().getValue('allow.admin.config') != true %}
    <div class="ui red message">
        {% error "Not allowed edit job config" %}  
    </div>       
{% endif %}

{% component 'semantic~panel' %}   
    <div class="mt-2">
        <h4>
            {{ labels.name }}
        </h4>
        <div class="ui basic label font-bold">
            {{ item.name }}
        </div>
        <h4>
            {{ labels.properties }}
        </h4> 
        <div class="mt-4">
            <form class="ui form" id="job_settings_form">
                <input type="hidden" name="job" value="{{ item.uuid }}" id="job_id">                  
                {{ component('semantic~properties.items',{ items: properties }) }}    
                {{ component('semantic~form.footer') }}   
            </form>
        </div>       
    </div>
{% endcomponent %}