{% if uuid is not empty %}
    {% set item = createModel('JobsRegistry').findById(uuid) %}
{% endif %}
{% set job = service('queue').create(item.name) %}
{% set queued_jobs = service('queue').getJobsDue(item.name) %}

{% component 'system:admin.panel' %}   
    {% set size = 'w-1/2' %}
    <div class="mt-2">
        <h4 class="font-bold">
            {{ labels.job }}
        </h4>
        {{ item.title }}
        <div class="badge badge-sm badge-outline">
            {{ item.name }}
        </div>
        <p class="py-1">
            {{ job.descriptor().getValue('description') }}
        </p>
        <h4>
            {{ labels.queue }}
        </h4>
        <div class="{{ theme.list.default }}">
            {% if queued_jobs|length == 0 %}
                ...
            {% endif %}
            {% for job in queued_jobs %}
                {{ component('queue::admin.jobs.queue.item',{ job: job }) }}   
            {% endfor %}
        </div>
    </div>
{% endcomponent %}