{% set job = service('queue').getJob(uuid) %}
{% component 'system:admin.panel' %}      
    {% if job.status == constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_SUSPENDED') %}
        <button class="{{ theme.buttons.green }} enable-job" uuid="{{ job.uuid }}">
            <i class="icon check green"></i>
            {{ labels.enable }}
        </button>
    {% elseif job.status != constant('Arikaim\\Core\\Interfaces\\Job\\JobInterface::STATUS_COMPLETED') %}
        <button class="{{ theme.buttons.delete }} suspend-job" uuid="{{ job.uuid }}">
            <i class="icon orange stop"></i>
            {{ labels.suspend }}
        </button>
    {% endif %}   
    <div class="mt-2">
        <table class="{{ theme.table.details }}">
            <thead>
                <tr>
                    <th class="w-1/4"></th>
                    <th class="w-3/4"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.id }}</td>
                    <td>{{ job.uuid }}</td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">
                        {{ labels.name }}
                    </td>
                    <td>
                        {{ job.name }}
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">
                        {{ labels.status }}
                    </td>
                    <td>
                        {{  component('queue::admin.queue.jobs.status.label',{ 
                                status: job.status, 
                                class: 'badge-xs' 
                            }) 
                        }}  
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.type }}</td>
                    <td class="flex flex-row items-center">
                        {% if job.recuring_interval is not empty %}
                            <div class="px-2 font-bold">{{ labels.recurring }}</div>
                            {{ component('queue::admin.interval.label',{ interval: job.recuring_interval }) }}                                                                                                        
                        {% elseif job.schedule_time is not empty %}
                            <div class="px-2 font-bold">{{ labels.scheduled }}</div>
                            <div class="flex flex-row items-center">
                                {{ component('icons~calendar',theme.icons.blue,'svg') }}
                                <div class="mx-2">
                                    {{ job.schedule_time|dateTimeFormat }}
                                </div>                               
                            </div>
                        {% else %}
                            <div class="px-2 font-bold">{{ labels.single }}</div>
                        {% endif %}                     
                        {% if job.due_date is not empty %}
                            <div class="flex flex-row items-center">
                                <div class="px-2 font-bold">
                                    {{ labels.nextrun }}
                                </div>                               
                                <div class="flex flex-row items-center">
                                    {{ component('icons~calendar',theme.icons.blue,'svg') }}
                                    <div class="mx-2">
                                        {{ job.due_date|dateTimeFormat }}
                                    </div>                                  
                                </div>
                            </div>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">
                        {{ labels.current }}
                    </td>
                    <td class="flex flex-row items-center">
                        {{ component('icons~calendar',theme.icons.blue,'svg') }}
                        <div class="mx-2">
                            {{ today()|dateTimeFormat }}
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.priority }}</td>
                    <td>
                        {{ job.priority }}
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.date }}</td>
                    <td>
                        {{ job.date_created|dateTimeFormat }}
                    </td>
                </tr>
                {% if job.date_executed is not empty %}
                <tr>
                    <td class="{{ theme.table.field.label }}">
                        {{ labels.executed }}
                    </td>
                    <td class="flex flex-row items-center">
                        {% if job.executed > 0 %}
                        <div class="badge badge-sm badge-outline">
                            {{ job.executed }}
                        </div>
                        {% endif %}
                        <div class="ml-2 flex flex-row items-center">
                            {{ component('icons~calendar',theme.icons.blue,'svg') }}
                            <div class="mx-2">
                                {{ job.date_executed|dateTimeFormat }}
                            </div>                           
                        </div>                        
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.handler }}</td>
                    <td>
                        {{ job.handler_class }}
                    </td>
                </tr>
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.extension }}</td>
                    <td>
                        {{ job.extension_name }}
                    </td>
                </tr>  
                 <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.user }}</td>
                    <td>                      
                        {{ job.user_id }}
                    </td>
                </tr>  
                <tr>
                    <td class="{{ theme.table.field.label }}">{{ labels.worker }}</td>
                    <td>
                        {{ (job.queue is null) ? labels.all : job.queue }}
                    </td>
                </tr> 
            </tbody>  
        </table>     
    </div>
    <div class="mt-2" id="job_config_content">             
        {{ component('system:admin.options',{ options: job.options }) }}                      
    </div>
</div>

{% endcomponent %}